<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="navbar">
        <a href="./cadastro.html"><button class="btn-home">Cadastro</button></a>
        <a href="./cadastroUser.html"><button class="btn-home">Cadastro de usuario</button></a>
        <a href="./login.html"><button class="btn-logout">Logout</button></a>
    </div>

<div class="card-container">
    <div class="card">
        <h2>Dia Anterior</h2>
        <!-- Informações Meteorológicas do Dia Anterior -->
        <p>Local: [Nome do Local]</p>
        <p>Temperatura: [Temperatura]</p>
        <p>Pressão Atmosférica: [Pressão]</p>
        <p>Umidade: [Umidade]</p>
        <p>Percentual de Precipitação: [Precipitação]</p>
        <p>Condição: [Condição]</p>
    </div>

    <div class="card">
        <h2>Dia Atual</h2>
        <!-- Informações Meteorológicas do Dia Atual -->
        <p>Local: [Nome do Local]</p>
        <p>Temperatura: [Temperatura]</p>
        <p>Pressão Atmosférica: [Pressão]</p>
        <p>Umidade: [Umidade]</p>
        <p>Percentual de Precipitação: [Precipitação]</p>
        <p>Condição: [Condição]</p>
    </div>

    <div class="card">
        <h2>Dia Seguinte</h2>
        <!-- Informações Meteorológicas do Dia Seguinte -->
        <p>Local: [Nome do Local]</p>
        <p>Temperatura: [Temperatura]</p>
        <p>Pressão Atmosférica: [Pressão]</p>
        <p>Umidade: [Umidade]</p>
        <p>Percentual de Precipitação: [Precipitação]</p>
        <p>Condição: [Condição]</p>
    </div>
</div>

<div class="navigation-buttons">
    <button class="back-btn">Voltar</button>
    <button class="forward-btn">Avançar</button>
</div>

</body>
</html>
